@charset "UTF-8";
/* charming colour scheme (@scheme color) */

/* GENERAL */
body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: #F7E565;
	text-align: center;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	font-size: 16px;
	color: black;
}


/* HEADER */
h1 {
	margin: 0;
	font-size: 1.5em;
}

header {
	padding: 1vh 0;
	background-color: #35ABAF;
}


/* MAIN */



/* FOOTER */
footer {
	position: absolute;
	bottom: 0;
	min-width: 100%;
	padding: 1.5vh 0;
	background-color: #F26936;
	color: white;
}

.more-link {
	color: black;
}

.more-link:active {
	color: red !important;
}

.more-link:focus {
	color: green;
}

.more-link:hover {
	color: blue;
}

#copyright {
	display: block;
}

#more {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	padding: 1vh 0 0;
	font-size: 1.3em;
}